@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic-ext,greek-ext,latin-ext');

* {
	font-family: "Open Sans", sans-serif;
	padding-left: 10px;
}

h1 {
	color: #1946ba;
	margin-top: 20px;
}

table {
	table-layout: fixed;
	border: 1px solid black;
	border-collapse: collapse;
}

th, td, tr {
	border: 1px solid black;
}

tbody tr:nth-child(odd) {
	background-color: #e6e6e6;
}

tbody tr:nth-child(even) {
	background-color: #ffffff;
}

.checkbox {
	display: inline-block;
	margin: 5px;
}
